<div class="row">
    <article class="col-12 col-md-9 p-0">
        <div class="card p-3">
            <h5 style="color: #e03231; text-align: center;">Giới thiệu tổng quan về Online training</h5>
            <p>Xin chào bạn – độc giả của dtsv@gamil.com,</p>
            <p>
                Lời đầu tiên, cho phép Online Trainning được gửi tới quý khách, quý thân nhân và bạn bè lời chúc
                sức khỏe, thành đạt và hạnh phúc.
            </p>
            <div class="img" style="text-align:center ; margin-bottom: 10px;">
                <img src="/Ass/images/R.jfif" style="text-align: center; width: 40%; height: 150px;" alt="">
            </div>
            <p>

                Được tạo ra nhằm phục vụ hỗ trợ cho toàn thể sinh viên trong trường
                giúp tiết kiệm thời gian, phản hồi nhanh chóng, thông tin chính xác, hỗ trợ 24/24.

                Tin tưởng Online Training, chúng tôi tự tin sẽ giúp
                bạn giải quyết các vấn đề thường gặp về môn học, đổi lịch học, đăng kí dịch vụ
                thi cử online.</p>
            <p>
            <h5 style="color: black; text-align: center;">Cỏ Mềm - Mỹ phẩm xanh cho cuộc sống an lành</h5>
            Sứ mệnh của Online Training là thay thế việc sinh viên phải đến trường trực tiếp thì
            ở nhà các bạn cũng có thể đăng kí hoàn thành các thủ tục như bình thương một cách nahnh chóng
            chính xác. 100% đội ngũ nhân sự ở phòng đạo tạo đều hỗ trợ 24/24
            </p>
            <div class="img2" style=" text-align: center; margin-bottom: 10px;">
                <h5>NAOMI BHA 7DAY SKINS</h5><br>
                <img src="/Ass/images/OIP.jfif" alt="" style="text-align: center; width: 60%; height: 300px;"
                    alt=""><br><br>
            </div>
            <p>Xuất xứ: Hàn Quốc</p>
            <p>Thương hiệu: Some By Me</p>
            <p>
                Bộ trị mụn đình đám NAOMI BHA 7DAY SKINS Some by mi giờ đã có cả set mini để mng có thể trải
                nghiệm
                thử trước khi mua full size nhé ạ!

            </p>
            <p>
                Mụn là vấn đề khó giải quyết nhất đối với làn da mỗi cô gái. Và để trị dứt điểm tình
                trạng này, lại không phải là việc một sớm một chiều. Có người mất hàng tháng, cả năm hay đôi khi
                là
                vài năm mới khiến làn da tổn thương trở lại hiện trạng ban đầu.

            </p>
            <p>
                Chỉ trong vòng 30 ngày có thể xử lý gọn gàng đống mụn, da chết và thâm đáng ghét này, bạn
                có tin điều đó. Và bí quyết chỉ nằm vỏn vẹn trong bộ dưỡng trị mụn thuộc thương hiệu mỹ phẩm
                Some By Mi của Hàn Quốc.

            </p>
            <p>
                Tự tin với khả năng đáp ứng mọi yêu cầu thiết kế của khách hàng, GiuseArt chính thức đem lại
                dịch vụ Thiết kế đồ họa và Thiết kế Website chuyên nghiệp từ đầu năm 2017. Sự ủng hộ và tin
                tưởng của khách hàng sẽ trở thành nguồn cảm hứng lớn lao cho GiuseArt trong quá trình phác họa
                những ý tưởng thiết kế được trở thành hiện thực.
            </p>
            <p>
                Xin cám ơn sự tin tưởng và ủng hộ của quý khách trong thời gian qua.
            </p>
            <p>
                Trân trọng./.
            </p>
        </div>
    </article>
    <!-- ----------------Phần asdie------------- -->
    <aside class="col-12 col-md-3 bg-light">
        <!-- -----------Danh sách môn học----------- -->
        <div class="poly-card">
            <ul class="list-group mt-2 p-0">
                <li class="list-group-item bg-light text-dark">
                    <a class="text-dark text-decoration-none" data-bs-toggle="collapse" href="#collapseExample1"
                        role="button" aria-expanded="false" aria-controls="collapseExample">
                        <h5 style="color: #e03231; font-size: 15px;"> <i class="fas fa-list"></i> DANH SÁCH MÔN
                            HỌC</h5>
                    </a>
                </li>
                <div class="collapse" id="collapseExample1">
                    <a href="#" class="list-group-item list-group-item-action">Lập trình Android nâng cao</a>
                    <a href="#" class="list-group-item list-group-item-action">Xây dựng trang web</a>
                    <a href="#" class="list-group-item list-group-item-action">Cơ sở dữ liệu</a>
                    <a href="#" class="list-group-item list-group-item-action">SQL Server</a>
                    <a href="#" class="list-group-item list-group-item-action">Internet Marketing</a>
                    <a href="#" class="list-group-item list-group-item-action">Lập trình hướng dẫn đối tượng</a>
                    <a href="#" class="list-group-item list-group-item-action">Lập trình PHP</a>
                    <a href="#" class="list-group-item list-group-item-action">Điện toán đám mây</a>
                    <a href="#" class="list-group-item list-group-item-action">Lập trình Android cơ bản</a>
                    <a href="#" class="list-group-item list-group-item-action">Lập trình game 2D</a>
                    <a href="#" class="list-group-item list-group-item-action">Thiết kế giao diện trên
                        Android</a>
                    <a href="#" class="list-group-item list-group-item-action">Java 1</a>
                </div>
            </ul>

        </div>
        <!-- ----------------Danh sách thi---------- -->
        <div class="poly-card">
            <ul class="list-group mt-2 p-0">
                <li class="list-group-item bg-light text-dark">
                    <a class="text-dark text-decoration-none" data-bs-toggle="collapse" href="#collapseExample2"
                        role="button" aria-expanded="false" aria-controls="collapseExample">
                        <h5 style="color: #e03231; font-size: 15px;"> <i class="fas fa-list"></i> DANH SÁCH THI
                        </h5>
                    </a>
                </li>
                <div class="collapse" id="collapseExample2">
                    <a href="TrangThi.html" class="list-group-item list-group-item-action">Câu hỏi trắc nghiệm</a>
                   
                </div>
            </ul>

        </div>
    </aside>

</div>