<div class="row">
    <article class="col-12 col-md-9 bg-light">
            <div class="p-2" style="margin-left: -5px;">
                <div class="card p-2">
                    <h5 style="color: #101110 ; font-size: 25px; ">GỬI GÓP Ý CHO CHÚNG TÔI</h5>
                    <hr style="border-top: 4px solid gray;">
                    <div class="card-body p-0">
                        <form action="">
                            <div class="mb-4">
                                <input type="text" class="form-control" placeholder="Tên của bạn">
                            </div>
                            <div class="row ">
                                <div class="col-6">
                                    <input type="text" class="form-control" placeholder="Email của bạn">
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control" placeholder="Số điện thoại của bạn">
                                </div>
                                <div class="mt-4">
                                    <textarea class="form-control" name="" id="" cols="3" rows="4" placeholder="Nội dung"></textarea>
                                </div>
                                
                            </div>
                        </form>
                        <div class="card-footer">
                            <small class="text-danger">Vui lòng điền đầy đủ thông tin</small>
                        </div>
                    </div>
                    <div class="text-center" style="margin-top: 15px;">
                        <button style="border:1px solid #e03231; color: white ; background-color: #e03231;">Gửi cho chúng tôi</button>
                    </div>
            </div>
       
    </article>
    <aside class="col-12 col-md-3 bg-light">
        <div class="poly-card">
            <ul class="list-group mt-2 p-0">
                <li class="list-group-item bg-light text-dark">
                    <a class="text-dark text-decoration-none" data-bs-toggle="collapse"
                        href="#collapseExample1" role="button" aria-expanded="false"
                        aria-controls="collapseExample">
                        <h5 style="color: #e03231; font-size: 15px;"> <i class="fas fa-list"></i> DANH SÁCH MÔN HỌC</h5>
                    </a>
                </li>
                <div class="collapse" id="collapseExample1">
                    <a href="#" class="list-group-item list-group-item-action">Lập trình Android nâng cao</a>
                    <a href="#" class="list-group-item list-group-item-action">Xây dựng trang web</a>
                    <a href="#" class="list-group-item list-group-item-action">Cơ sở dữ liệu</a>
                    <a href="#" class="list-group-item list-group-item-action">SQL Server</a>
                    <a href="#" class="list-group-item list-group-item-action">Internet Marketing</a>
                    <a href="#" class="list-group-item list-group-item-action">Lập trình hướng dẫn đối tượng</a>
                    <a href="#" class="list-group-item list-group-item-action">Lập trình PHP</a>
                    <a href="#" class="list-group-item list-group-item-action">Điện toán đám mây</a>
                    <a href="#" class="list-group-item list-group-item-action">Lập trình Android cơ bản</a>
                    <a href="#" class="list-group-item list-group-item-action">Lập trình game 2D</a>
                    <a href="#" class="list-group-item list-group-item-action">Thiết kế giao diện trên Android</a>
                    <a href="#" class="list-group-item list-group-item-action">Java 1</a>
                </div>
            </ul>

        </div>
        <div class="poly-card">
            <ul class="list-group mt-2 p-0">
                <li class="list-group-item bg-light text-dark">
                    <a class="text-dark text-decoration-none" data-bs-toggle="collapse"
                        href="#collapseExample2" role="button" aria-expanded="false"
                        aria-controls="collapseExample">
                        <h5 style="color: #e03231; font-size: 15px;"> <i class="fas fa-list"></i> DANH SÁCH THI</h5>
                    </a>
                </li>
                <div class="collapse" id="collapseExample2">
                    <a href="#" class="list-group-item list-group-item-action">Câu hỏi trắc nghiệm</a>
                    <a href="#" class="list-group-item list-group-item-action">Xây dựng trang web</a>
                    <a href="#" class="list-group-item list-group-item-action">Cơ sở dữ liệu</a>
                </div>
            </ul>

        </div>
    </aside>

</div>