<div class="row">
    <!-- ----------------form gửi thắc mắc---------------- -->
    <article class="col-12 col-md-9 bg-light">
        <div class="row">
            <div class="col-12 p-2" style="margin-left: -5px;">
                <div class="card p-2">
                    <h5 style="color: #101110 ; font-size: 25px; ">GỬI THẮC MẮC CHO CHÚNG TÔI</h5>
                    <hr style="border-top: 4px solid gray;">
                    <div class="card-body p-0">
                        <form action="">
                            <div class="mb-4">
                                <input type="text" class="form-control" placeholder="Tên của bạn">
                            </div>
                            <div class="row ">
                                <div class="col-12 col-md-6">
                                    <input type="text" class="form-control" placeholder="Email của bạn">
                                </div>
                                <div class="col-12 col-md-6">
                                    <input type="text" class="form-control" placeholder="Số điện thoại của bạn">
                                </div>
                                <div class="mt-4">
                                    <textarea class="form-control" name="" id="" cols="3" rows="4"
                                        placeholder="Nội dung"></textarea>
                                </div>

                            </div>
                        </form>
                        <div class="card-footer">
                            <small class="text-danger">Vui lòng điền đầy đủ thông tin</small>
                        </div>
                    </div>
                    <div class="text-center" style="margin-top: 15px;">
                        <button style="border:1px solid #e03231; color: white ; background-color: #e03231;">Gửi
                            cho chúng tôi</button>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-12 ">
                <h5 style="color: #e03231;">Một số câu hỏi thường gặp</h5>
                <div class="col-12 col-md-9" style="padding: 10px;">
                    <div class="">
                        <h2>
                            <button class="btn " type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseWidthExample" aria-expanded="false"
                                aria-controls="collapseWidthExample">
                                Câu 1: Quiz là gì?
                            </button>
                        </h2>
                        <div >
                            <div class="collapse collapse-horizontal" id="collapseWidthExample">
                                <div class="" style="width: 940px;">
                                    Trả lời: Quiz là kỳ thi kiểm tra nói (miệng), kỳ thi vấn đáp; câu hỏi kiểm tra
                                    nói(miệng), câu hỏi thi vấn đáp, cuộc thi đố.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="">
                        <h2>
                            <button class="btn " type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseWidthExample1" aria-expanded="false"
                                aria-controls="collapseWidthExample1">
                                Câu 2: Quiz làm trong bao lâu?
                            </button>
                        </h2>
                        <div >
                            <div class="collapse collapse-horizontal" id="collapseWidthExample1">
                                <div class="" style="width: 940px;">
                                    Trả lời: Thường thì trung bình mỗi bài quiz sẽ có tầm 15 phút cho 10 câu hỏi.
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="">
                        <h2>
                            <button class="btn " type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseWidthExample2" aria-expanded="false"
                                aria-controls="collapseWidthExample2">
                                Câu 3: Khi hết thời gian mà chưa chọn hết các câu hỏi thì sao?
                            </button>
                        </h2>
                        <div >
                            <div class="collapse collapse-horizontal" id="collapseWidthExample2">
                                <div class="" style="width: 940px;">
                                    Trả lời: Nếu chưa làm hết thì hệ thống sẽ tính điểm theo số câu hỏi bạn làm được và những 
                                    câu hỏi chưa làm sẽ không được tính điểm.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <h2>
                            <button class="btn " type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseWidthExample3" aria-expanded="false"
                                aria-controls="collapseWidthExample3">
                                Câu 4: Có phải lúc nào cũng vào làm quiz được không?
                            </button>
                        </h2>
                        <div >
                            <div class="collapse collapse-horizontal" id="collapseWidthExample3">
                                <div class="" style="width: 940px;">
                                    Trả lời: Tùy vào chương trình dạy của từng lớp giáo viên sẽ mở quiz cho bạn và setup thời
                                    hạn làm quiz nếu bạn không làm trong thời gian quy định thì sẽ không làm được nữa
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </article>
    <!-- -------------Phần danh mục------------- -->
    <aside class="col-12 col-md-3 bg-light">
        <!-- ---------------Danh sách môn học----------- -->
        <div class="poly-card">
            <ul class="list-group mt-2 p-0">
                <li class="list-group-item bg-light text-dark">
                    <a class="text-dark text-decoration-none" data-bs-toggle="collapse" href="#collapseExample1"
                        role="button" aria-expanded="false" aria-controls="collapseExample">
                        <h5 style="color: #e03231; font-size: 15px;"> <i class="fas fa-list"></i> DANH SÁCH MÔN
                            HỌC</h5>
                    </a>
                </li>
                <div class="collapse" id="collapseExample1">
                    <a href="#" class="list-group-item list-group-item-action">Lập trình Android nâng cao</a>
                    <a href="#" class="list-group-item list-group-item-action">Xây dựng trang web</a>
                    <a href="#" class="list-group-item list-group-item-action">Cơ sở dữ liệu</a>
                    <a href="#" class="list-group-item list-group-item-action">SQL Server</a>
                    <a href="#" class="list-group-item list-group-item-action">Internet Marketing</a>
                    <a href="#" class="list-group-item list-group-item-action">Lập trình hướng dẫn đối tượng</a>
                    <a href="#" class="list-group-item list-group-item-action">Lập trình PHP</a>
                    <a href="#" class="list-group-item list-group-item-action">Điện toán đám mây</a>
                    <a href="#" class="list-group-item list-group-item-action">Lập trình Android cơ bản</a>
                    <a href="#" class="list-group-item list-group-item-action">Lập trình game 2D</a>
                    <a href="#" class="list-group-item list-group-item-action">Thiết kế giao diện trên
                        Android</a>
                    <a href="#" class="list-group-item list-group-item-action">Java 1</a>
                </div>
            </ul>

        </div>
        <!-- -----------------Danh sách thi-------------- -->
        <div class="poly-card">
            <ul class="list-group mt-2 p-0">
                <li class="list-group-item bg-light text-dark">
                    <a class="text-dark text-decoration-none" data-bs-toggle="collapse" href="#collapseExample2"
                        role="button" aria-expanded="false" aria-controls="collapseExample">
                        <h5 style="color: #e03231; font-size: 15px;"> <i class="fas fa-list"></i> DANH SÁCH THI
                        </h5>
                    </a>
                </li>
                <div class="collapse" id="collapseExample2">
                    <a href="TrangThi.html" class="list-group-item list-group-item-action">Câu hỏi trắc
                        nghiệm</a>
                </div>
            </ul>

        </div>
    </aside>

</div>