<div class="row ">
    <!-- ------------------Phần liên hệ---------- -->
    <article class=" col-12 col-md-9 bg-light" style="margin-left: 0px;">
        <div class="card p-2">
            <h5 style="color: #101110 ; font-size: 25px; ">LIÊN HỆ</h5>
            <hr style="border-top: 4px solid gray;">
            <p style="color: gray; font-size: 20px">Địa chỉ chúng tôi</p>
            <p style="color: black; font-size: 20px">225 Trần Đăng Ninh, P.Dịch Vọng, Q.Cầu Giấy, Hà Nội</p>
            <br>
            <p style="color: gray; font-size: 20px">Email chúng tôi</p>
            <p style="color: black; font-size: 20px">Labcomem@gamil.com</p>
            <br>
            <p style="color: gray; font-size: 20px">Điện thoại</p>
            <p style="color: black;font-size: 20px">0968 622 511</p>
            <br>
            <p style="color: gray;font-size: 20px">Thời gian làm việc</p>
            <p style="color: black;font-size: 20px">Thứ 2 đến Thứ 6 từ 8h đến 18h; Thứ 7 và Chủ nhật từ 8h00 đến
                17h00</p>
            <br>
        </div>
    </article>
    <!-- ------------Danh mục----------- -->
    <aside class="col-12 col-md-3 bg-light">
        <!-- ------------Danh mục môn học----------- -->
        <div class="poly-card">
            <ul class="list-group mt-2 p-0">
                <li class="list-group-item bg-light text-dark">
                    <a class="text-dark text-decoration-none" data-bs-toggle="collapse" href="#collapseExample1"
                        role="button" aria-expanded="false" aria-controls="collapseExample">
                        <h5 style="color: #e03231; font-size: 15px;"> <i class="fas fa-list"></i> DANH SÁCH MÔN
                            HỌC</h5>
                    </a>
                </li>
                <div class="collapse" id="collapseExample1">
                    <a href="#" class="list-group-item list-group-item-action">Lập trình Android nâng cao</a>
                    <a href="#" class="list-group-item list-group-item-action">Xây dựng trang web</a>
                    <a href="#" class="list-group-item list-group-item-action">Cơ sở dữ liệu</a>
                    <a href="#" class="list-group-item list-group-item-action">SQL Server</a>
                    <a href="#" class="list-group-item list-group-item-action">Internet Marketing</a>
                    <a href="#" class="list-group-item list-group-item-action">Lập trình hướng dẫn đối tượng</a>
                    <a href="#" class="list-group-item list-group-item-action">Lập trình PHP</a>
                    <a href="#" class="list-group-item list-group-item-action">Điện toán đám mây</a>
                    <a href="#" class="list-group-item list-group-item-action">Lập trình Android cơ bản</a>
                    <a href="#" class="list-group-item list-group-item-action">Lập trình game 2D</a>
                    <a href="#" class="list-group-item list-group-item-action">Thiết kế giao diện trên
                        Android</a>
                    <a href="#" class="list-group-item list-group-item-action">Java 1</a>
                </div>
            </ul>

        </div>
        <!-- ------------Danh mục thi----------- -->
        <div class="poly-card">
            <ul class="list-group mt-2 p-0">
                <li class="list-group-item bg-light text-dark">
                    <a class="text-dark text-decoration-none" data-bs-toggle="collapse" href="#collapseExample2"
                        role="button" aria-expanded="false" aria-controls="collapseExample">
                        <h5 style="color: #e03231; font-size: 15px;"> <i class="fas fa-list"></i> DANH SÁCH THI
                        </h5>
                    </a>
                </li>
                <div class="collapse" id="collapseExample2">
                    <a href="TrangThi.html" class="list-group-item list-group-item-action">Câu hỏi trắc nghiệm</a>
                    
                </div>
            </ul>

        </div>
    </aside>

</div>