<div class="row  m-0 ">
    <article class="col-12 col-md-9  p-0">
        <!-- ----------------Danh sách môn học----------- -->
            <div  style="margin-left: 0px;">
                <div class="card" style="text-align: center;">
                    <div class="card-headed">
                        <p style="font-family: Arial; color: #e03231; font-size: 30px;">Danh sách môn học</p>
                        
                            <hr style="border: 2px solid black; ">
                       
                    </div>
                   
                    <div class="col-12 P-5 ">
                        <div class="container  "  >
                            <div class="row " style="margin-bottom: 30px;" >
                                
                                <div class="col-12 col-md-4 " >
                                    <div class="card-body">
                                        <div class="card" style="border-radius: 10px 10px 10px 10px ; text-align: center; color: black; ">
                                            <div class="card-header">
                                                <a class="btn btn-primary-gradient" href="quiz.html" role="button">test ngay</a>
                                            </div>
                                            <div class="card-body">
                                                <img src="/Ass/images/logos/JAAV.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="card-footer p-0">
                                                <ul style="list-style-type: none; text-align: left;">
                                                    
                                                        <a href="" style="text-decoration: none;">Java 1</a>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 " >
                                    <div class="card-body">
                                        <div class="card-header">
                                            <a class="btn btn-primary-gradient" href="quiz.html" role="button">Test ngay</a>
                                        </div>
                                        <div class="card" style="border-radius: 10px 10px 10px 10px ; text-align: center; color: black; ">
                                            <div class="card-body">
                                                <img src="/Ass/images/logos/CLCO.jpg" class="img-fluid" alt="">
                                            </div>
                                            <div class="card-footer p-0">
                                                <ul style="list-style-type: none; text-align: left;">
                                                    
                                                        <a href="" style="text-decoration: none;">Điện toán đám mây</a>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 " >
                                    <div class="card-body">
                                        <div class="card" style="border-radius: 10px 10px 10px 10px ; text-align: center; color: black; ">
                                            <div class="card-header">
                                                <a class="btn btn-primary-gradient" href="quiz.html" role="button">test ngay</a>
                                            </div>
                                            <div class="card-body">
                                                <img src="/Ass/images/logos/WEBU.jpg" class="img-fluid" alt="">
                                            </div>
                                            <div class="card-footer p-0">
                                                <ul style="list-style-type: none; text-align: left;">
                                                    
                                                        <a href="" style="text-decoration: none;">Thiết kế GD trên Android</a>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- ----------------------------------------- -->
                <div class="card" style="text-align: center;">
                    <p>
                        <button class="btn btn-primary" style="background-color: #e03231; color: white; font-size: 20px ;margin-top: 10px; text-align: center;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                          Xem thêm
                        </button>
                      </p>
                      <div class="collapse" id="collapseExample">
                        
                        <div class="card" style="text-align: center;">
                            
                            <div class="col-12 P-5 ">
                                <div class="container  "  >
                                    <div class="row " style="margin-bottom: 30px;" >
                                        
                                        <div class="col-12 col-md-4 " >
                                            <div class="card-body">
                                                <div class="card" style="border-radius: 10px 10px 10px 10px ; text-align: center; color: black; ">
                                                    <div class="card-header">
                                                        <a class="btn btn-primary-gradient" href="quiz.html" role="button">Test ngay</a>
                                                    </div>
                                                    <div class="card-body">
                                                        <img src="/Ass/images/logos/PHPP.png" class="img-fluid" alt="">
                                                    </div>
                                                    <div class="card-footer p-0">
                                                        <ul style="list-style-type: none; text-align: left;">
                                                            
                                                                <a href="" style="text-decoration: none;">Lập trình PHP</a>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4 " >
                                            <div class="card-body">
                                                <div class="card" style="border-radius: 10px 10px 10px 10px ; text-align: center; color: black; ">
                                                    <div class="card-header">
                                                        <a class="btn btn-primary-gradient" href="quiz.html" role="button">test ngay</a>
                                                    </div>
                                                    <div class="card-body">
                                                        <img src="/Ass/images/logos/GAME.png" class="img-fluid" alt="">
                                                    </div>
                                                    <div class="card-footer p-0">
                                                        <ul style="list-style-type: none; text-align: left;">
                                                            
                                                                <a href="" style="text-decoration: none;">Lập trình game</a>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4 " >
                                            <div class="card-body">
                                                <div class="card" style="border-radius: 10px 10px 10px 10px ; text-align: center; color: black; ">
                                                    <div class="card-header">
                                                        <a class="btn btn-primary-gradient" href="quiz.html" role="button">test ngay</a>
                                                    </div>
                                                    <div class="card-body">
                                                        <img src="/Ass/images/logos/PMAG.jpg" class="img-fluid" alt="">
                                                    </div>
                                                    <div class="card-footer p-0">
                                                        <ul style="list-style-type: none; text-align: left;">
                                                            
                                                                <a href="" style="text-decoration: none;">Quản lý phần mềm agile</a>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                      </div>
                </div>
         <!-- ------------Các môn học----------- -->
        
    </article>
    <aside class="col-md-3 bg-light p-0">
        <!-- -----------------------Danh mục danh sách môn học------------- -->
        <div class="poly-card">
            <ul class="list-group mt-2 p-0">
                <li class="list-group-item bg-light text-dark">
                    <a class="text-dark text-decoration-none" data-bs-toggle="collapse" href="#collapseExample1"
                        role="button" aria-expanded="false" aria-controls="collapseExample">
                        <h5 style="color: #e03231; font-size: 15px;"> <i class="fas fa-list"></i> DANH SÁCH MÔN
                            HỌC</h5>
                    </a>
                </li>
                <div class="collapse" id="collapseExample1">
                    <a href="#" class="list-group-item list-group-item-action">Lập trình Android nâng cao</a>
                    <a href="#" class="list-group-item list-group-item-action">Xây dựng trang web</a>
                    <a href="#" class="list-group-item list-group-item-action">Cơ sở dữ liệu</a>
                    <a href="#" class="list-group-item list-group-item-action">SQL Server</a>
                    <a href="#" class="list-group-item list-group-item-action">Internet Marketing</a>
                    <a href="#" class="list-group-item list-group-item-action">Lập trình hướng dẫn đối tượng</a>
                    <a href="#" class="list-group-item list-group-item-action">Lập trình PHP</a>
                    <a href="#" class="list-group-item list-group-item-action">Điện toán đám mây</a>
                    <a href="#" class="list-group-item list-group-item-action">Lập trình Android cơ bản</a>
                    <a href="#" class="list-group-item list-group-item-action">Lập trình game 2D</a>
                    <a href="#" class="list-group-item list-group-item-action">Thiết kế giao diện trên
                        Android</a>
                    <a href="#" class="list-group-item list-group-item-action">Java 1</a>
                </div>
            </ul>

        </div>
        <!-- --------------Danh sách thi------------ -->
        <div class="poly-card">
            <ul class="list-group mt-2 p-0">
                <li class="list-group-item bg-light text-dark">
                    <a class="text-dark text-decoration-none" data-bs-toggle="collapse" href="#collapseExample2"
                        role="button" aria-expanded="false" aria-controls="collapseExample">
                        <h5 style="color: #e03231; font-size: 15px;"> <i class="fas fa-list"></i> DANH SÁCH THI
                        </h5>
                    </a>
                </li>
                <div class="collapse" id="collapseExample2">
                    <a href="TrangThi.html" class="list-group-item list-group-item-action">Câu hỏi trắc nghiệm</a>
                    
                </div>
            </ul>

        </div>
    </aside>

</div>